/*Début : Corps du site*/
body {
	background-color: white;
	padding: inherit;
	margin: inherit;
	width: 100%;
}
a:hover {
	color: white;
}
a:visited {
	color: #424242;
}
@font-face {
    font-family: '2dumbregular';
    src: url('Fonts/H2/2Dumb-webfont.eot');
    src: url('Fonts/H2/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/H2/2Dumb-webfont.woff2') format('woff2'),
         url('Fonts/H2/2Dumb-webfont.woff') format('woff'),
         url('Fonts/H2/2Dumb-webfont.ttf') format('truetype'),
         url('Fonts/H2/2Dumb-webfont.svg#2dumbregular') format('svg');
         font-weight: normal;
   		 font-style: normal;
}
@font-face {
    font-family: 'seasideresortnfregular';
    src: url('Fonts/H1/SEASRN__-webfont.eot');
    src: url('Fonts/H1/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/H1/SEASRN__-webfont.woff2') format('woff2'),
         url('Fonts/H1/SEASRN__-webfont.woff') format('woff'),
         url('Fonts/H1/SEASRN__-webfont.ttf') format('truetype'),
         url('Fonts/H1/SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1 {
    text-align: left;
    font-size: 60px; 
    color: #424242;
    font-family: 'seasideresortnfregular';
    margin-top: 8%;
    margin-left: 7%;
    padding: 0px;
}
.H1-part-1 {
    color: #00BCD4;
}
h2 {
    flex-wrap: wrap;
    text-align: left;
    font-size: 27px; 
    color: #424242;
    opacity: 0.9;
    font-family: '2dumbregular';
    margin-left: 7%;
    padding-top: 1%;
    padding-bottom: inherit;
    margin-top: -3%;
}
ul {
    list-style-type: none;
}
.H2-underline {
    border-top: 2px solid #00BCD4;
    width: 75px;
    margin-top: -2%;
    margin-left: 7%;
}
.h3-colonne-bleu {
    font-size: 23px;
    font-family: Arial;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    background-color: #424242; 
    margin-top: 10%;
    padding: 2%; 
    color: white; 
    text-align: center;
}
.Bloc-general {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
/*Fin : Corp du site*/

/*Début : Header*/
.Photo-et-Hn {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: auto;
    padding: inherit;
}
.Bloc-photo {
    flex: 1;
    background-color: #00BCD4;
    width: 100%;
    min-width: 380px;
    height: auto;
    text-align: center;
}
.Photo-profil {
    width: 100%;
    max-width: 310px;
    margin-top: 4%;
}
.Bloc-H1-et-H2 {
    flex: 3;
    background-color: white;
    width: 100%;
    min-width: 470px;
    height: auto;
    text-align: left;
}
/*Fin : Header*/

/*Début : Body*/
.Colonne-gauche-et-partie-droite {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: inherit;
}
    /*Début : Partie gauche*/
    .Colonne-gauche-bleu {
        flex: 1;
        background-color: #00BCD4;
        width: 100%;
        min-width: 380px;
        height: auto;
        text-align: center;
    }
    .Bloc-contact {
        padding-top: 2%;
        padding-right: 1%;
        padding-bottom: 1%;
        padding-left: 10%;
        font-family: Arial;
        font-size: 20px;
        text-align: left;
    }
    .Bloc-A-poropos {
        padding-top: 2%;
        padding-right: 5%;
        padding-bottom: 25%;
        padding-left: 5%;
        font-family: Arial;
        font-size: 19px;
        text-align: left;
    }
    .Bloc-pictos-loisirs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding:1%;
        font-size: 52px;
        color: black;
    }
    /*Fin : Partie gauche*/

    /*Début : Partie droite*/
    .Partie-droite-blanc {
        flex: 3;
        background-color: white;
        width: 100%;
        min-width: 470px;
        height: auto;
        text-align: left;
    /*Fin : Partie droite*/
    
/*Fin : Body*/